body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-image: url(coc.jpg);
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #bd85e4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #0f100f;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }